h1 {
	position: fixed;
	top: 0em;
	left: 3%;

	font-family: 'Amaranth', sans-serif;
	font-size: 3em;
}

h3{
	color: #000000;
	font-family: 'Amaranth', sans-serif;
	font-size: 1em;
}

h6{
	position: fixed;
	top: 4.8em;
	left: 3%;
}

p{
	color: #ffffff;
	font-size: 0.8em;
}

.legend{
	position: fixed;
	width: 160px;
	height: 42px;
	top: 2em;
	right: 3%;
	opacity: 0.6;
}


.info{
	position: fixed;
	left: 3%;
	bottom: 0.5%;	
	opacity: 0.4;
}

.credits{
	position: fixed;
	right: 3%;
	bottom: 0.5%;
	font-size: 0.8em;
	opacity: 0.85;
	text-align: right;
}